<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" (click)="logout()" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']" >Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['students']" >Alumnos</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['subjects']" >Materias</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['teachers']" >Profesores</a>
        </li>
            <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['reports']" >Reportes</a>
        </li>
      </ul>
      <span class="navbar-text">
          <button class="btn btn-outline-primary" (click)="logout()">Cerrar Sesion</button>
      </span>
    </div>
  </nav>