<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (ngSubmit)="createTeacher( ff )" #ff="ngForm" >
<div class="modal-body">
    <mat-card-content>
            <div class="row show-grid">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="code">Cedula</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaInicial'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="code"
                            placeholder="Digite cedula/Td" [(ngModel)]="teacher.code"  name="code">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombres</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="name"
                            placeholder="Digite nombres" [(ngModel)]="teacher.name" name="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="latName">Apellidos</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="latName"
                            placeholder="Digite apellidos" [(ngModel)]="teacher.latName" name="latName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Correo electronico</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="email" required class="form-control form-control-sm" id="email"
                            placeholder="Digite correo electronico" [(ngModel)]="teacher.email" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birthDate">Fecha de nacimiento</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="date" required class="form-control form-control-sm" id="birthDate"
                            placeholder="Digite fecha de nacimiento" [(ngModel)]="teacher.birthDate"  name="birthDate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="qualification">Calificación</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="qualification"
                            placeholder="Digite la calificacion" [(ngModel)]="teacher.qualification"  name="qualification">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="specialization">Especialización</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="specialization"
                            placeholder="Digite la especialización" [(ngModel)]="teacher.specialization"  name="specialization">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Celular</label>
                        <!-- <span class="text-danger" *ngIf="f.submitted && f.controls['fechaFinal'].errors"> * </span> -->
                        <input type="text" required class="form-control form-control-sm" id="phone"
                            placeholder="Digite celular" [(ngModel)]="teacher.phone" name="phone">
                    </div>
                </div>
            </div>
    </mat-card-content>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-lg" type="submit">Crear</button>
</div>
</form>
