<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (ngSubmit)="createSubject( ff )" #ff="ngForm" >
<div class="modal-body">
    <mat-card-content>
        <div class="row show-grid">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Nombre materia</label>
                    
                    <input type="text" required class="form-control form-control-sm" id="name"
                        placeholder="Digite materia" [(ngModel)]="subject.name"  name="name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="score">Puntaje</label>
                    
                    <input type="text" required class="form-control form-control-sm" id="score"
                        placeholder="Digite puntaje" [(ngModel)]="subject.score" name="score">
                </div>
            </div>
        </div>
    </mat-card-content>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary btn-lg" (click)="closeModal()">OK</button> -->
    <button class="btn btn-primary btn-lg" type="submit">Crear</button>
</div>
</form>
